.padding-0 {
    padding: 0;
}

.margin-0 {
    margin: 0;
}

a {
	text-decoration: none;
}

div.max-that > img {
	width: 100%;
	height: 100%;
}

.w3-sepia{
    filter:sepia(75%)
}

.w3-sepia-max, .w3-hover-sepia:hover{
    filter:sepia(100%)
}

.w3-sepia-min{
    filter:sepia(50%)
}

img {
    width: 100%;
}